body {
  margin-top:10em;
  font-family: "Pacifico";
  background-image: url(/vegan-2500x1405.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /*Means the background is fixed*/
  height:100vh;
}
 .navbar {
   color: #BADA55;
 }
nav.navbar {
  border-bottom: 3px solid #BADA55;
  opacity:0.9;
}
.bada55{
  color:#bada55;
}

.btn-bada55{
  color:white;
  background-color: #bada55;
}

.no-recipes {
font-family:sans-serif;
}
